
.field(class='type-nosuchaclass', data-field-type=field.type, data-field-path='noinuse', data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false')
	label.field-label= field.label
	.field-ui(class='width-' + field.width)

		div(style='display: none;')
			ul
				hr
				div.navbar-right
					a.btn.btn-link.btn-cancel.btn-remove-item(href=js): span.ion-close-round
			label= i
			ul
				each val, attributeName in field.options.subObjectDefine
					if(typeof val != "function") 
						//to jump the tostring function, this is a very stupid solution  if(attributeName != "type") 
						div.input-group
							span.input-group-addon= attributeName + ":" 
							input(type='text', name=field.path + "." + attributeName, autocomplete='off').form-control

		- var i = 1

		div
			ul
				hr
				div.navbar-right
					a.btn.btn-link.btn-cancel.btn-remove-item(href=js): span.ion-close-round
			label= i
			ul
				each val, attributeName in field.options.subObjectDefine
					if(typeof val != "function") 
						//to jump the tostring function, this is a very stupid solution  if(attributeName != "type") 
						div.input-group
							span.input-group-addon= attributeName + ":" 
							input(type='text', name=field.path + "." + attributeName + "." + i, value='', autocomplete='off').form-control

		div.navbar-right
			a.btn.btn-xs.btn-default.btn-myadditem.btn-add-item(href=js)
				| Add item
		if field.note
			.field-note!= field.note

script(src="/keystoneplus/js/ObjectArray.js")